# npm
/node_modules/

# testing
/coverage/

# build
build
dist
*.log

# Yarn Berry
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

## system files
.DS_Store
