# Dependencies
node_modules

# Testing
/coverage

# Build
build
dist
cdn
*.log*

# Yarn Berry
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
.env.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# System Files
.DS_Store
Thumbs.db
